.sidebar {
    grid-area: s;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
}

.nav {

}

.item a {
    color: rgba(100, 100, 100, .9);
    font-size: 1.3rem;
    text-decoration: none;
    transition: .2s;
}

.item a.activeLink {
    color: hsl(210, 50%, 50%);
}