.wrapper {
    padding: 10px;
    display: grid;
    grid-template: auto / 180px auto;
    grid-gap: 30px;
}

.avatar {
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
}

.avatarWrapper {
    display: grid;
    grid-gap: 10px;
    grid-template: 180px 20px / 100%;
}