.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 10px;
}

.dialog {
    display: grid;
    grid-template: 50px / 50px auto;
    grid-gap: 10px;
    align-items: center;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    transition: .2s;
}

.avatar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.name {
    color: rgba(100, 100, 100, .9);
    transition: .2s;
    transform-origin: left center;
}

a.active .name {
    color: #ffffff;
    transform: scale(1.2);
}

a.active .dialog {
    background: hsl(210, 60%, 75%);
}
